# Environment variables
.env
.env.local
.env.production
.env*.local

# Dependencies
node_modules/

# Production build
dist/
build/

# Database files
*.db
*.db-journal

# Uploaded files
server/uploads/*
!server/uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
